<div
  data-ng-if="mdView.current.record.cl_spatialRepresentationType.length > 0"
  class="gn-margin-bottom flex-row"
>
  <span class="badge badge-rounded">
    <i class="fa fa-fw fa-globe"></i>
  </span>
  <div>
    <h3 data-translate="">spatialRepresentationType</h3>
    <ul
      class="gn-label-list"
      data-ng-repeat="c in mdView.current.record.cl_spatialRepresentationType"
    >
      <li
        data-gn-search-filter-popup-link="cl_spatialRepresentationType.key"
        data-filter="c.key"
      >
        {{c.default}}
      </li>
    </ul>
  </div>
</div>

<div
  data-ng-if="mdView.current.record.resolutionScaleDenominator"
  class="gn-margin-bottom flex-row"
>
  <span class="badge badge-rounded">
    <i class="fa fa-fw fa-globe"></i>
  </span>
  <div>
    <h3 data-translate="">scale</h3>
    <ul class="gn-comma-list">
      <li
        data-ng-repeat="d in mdView.current.record.resolutionScaleDenominator"
        class="gn-scale"
      >
        {{d}}
      </li>
    </ul>
  </div>
</div>

<div
  data-ng-if="mdView.current.record.resolutionDistance"
  class="gn-margin-bottom flex-row"
>
  <span class="badge badge-rounded">
    <i class="fa fa-fw fa-globe"></i>
  </span>
  <div>
    <h3 data-translate="">resolution</h3>
    <ul class="gn-comma-list">
      <li data-ng-repeat="r in mdView.current.record.resolutionDistance">{{r}}</li>
    </ul>
  </div>
</div>

<div
  data-ng-if="mdView.current.record.gridSpatialRepresentation && mdView.current.record.gridSpatialRepresentation.length"
  class="gn-margin-bottom flex-row gn-grid-resolution"
>
  <span class="badge badge-rounded">
    <i class="fa fa-fw fa-th-large"></i>
  </span>
  <div>
    <h3 data-translate="">gridResolution</h3>
    <div
      class="gn-grid-resolution-value"
      data-ng-repeat="grid in mdView.current.record.gridSpatialRepresentation"
    >
      <div data-ng-if="grid.row || grid.column">
        <span data-ng-if="grid.row">
          <strong>{{grid.row.resolution}}</strong>
          <span class="gn-grid-unit" data-ng-if="grid.row.unit">{{grid.row.unit}}</span>
        </span>
        <span data-ng-if="grid.row && grid.column" class="gn-grid-multiplier">×</span>
        <span data-ng-if="grid.column">
          <strong>{{grid.column.resolution}}</strong>
          <span class="gn-grid-unit" data-ng-if="grid.column.unit">{{grid.column.unit}}</span>
        </span>
      </div>
      <div class="gn-grid-geometry" data-ng-if="grid.cellGeometry">
        {{grid.cellGeometry}}
      </div>
    </div>
  </div>
</div>

<div
  data-ng-if="mdView.current.record.crsDetails"
  class="gn-margin-bottom gn-md-side-crs flex-row"
>
  <span class="badge badge-rounded">
    <i class="fa fa-fw fa-compass"></i>
  </span>
  <div>
    <h3 data-translate="">crs</h3>
    <ul class="gn-comma-list">
      <li data-ng-repeat="r in mdView.current.record.crsDetails">
        <a ng-show="r.url" href="{{r.url}}">{{r.name || r.code}}</a>
        <span ng-hide="r.url">{{r.name || r.code}}</span>
      </li>
    </ul>
  </div>
</div>
